
/* Theme from "Charte 2016.pdf" */

$green: #73ca4a;
$red: #ef2a44;
$pink: #f78e9d;
$orange: #f89c21;
$black: #231f20;

/* Lighter & Darker */
$green-d1: darken($green, 10);
$green-d2: darken($green, 20);
$green-d3: darken($green, 30);
$green-d4: darken($green, 40);

/* Added */

$white: #fcfae8;
