.page-height {
  height: 100vh;
}

.full-height,
.parent-height {
  height: 100%;
}

.full-width,
.parent-width {
  width: 100%;
}

.parent-size {
  height: 100%;
  width: 100%;
}

.line,
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  &.col {
    flex-direction: column;
  }
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }
}

.color-line {
  height: 55px;
}

.grappe {
  height: 80px;
  width: 60px;
  background-image: url("http://bergerac.lebowsky-dev.xyz/images/grappe.svg"); /* DO NOT USE CDN FOR SVG */
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.icon {
  flex-shrink: 0;
}

.tip {
  padding: 8px 16px;
  background-color: $pink;
  border-radius: 4px;
  border-left: 5px solid $red-d1;
  margin: 20px 0;
}

/* Prevents img without src to appear */
img:not([src]) {
  visibility: hidden;
}

.encart,
.encart--simple {
  background: $white;
  padding: 0 40px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  @include small-screen {
    padding: 0 20px;
    margin-left: 0;
    margin-right: 0;
  }
  &.encart {
    margin-top: -150px;
  }
}

.page-encart {
  background: $red-d2;
  min-height: 100vh;

  .color-line {
    background-color: $red-d3;
  }
  .title,
  .subtitle {
    color: $red-d2;
  }
  .background {
    background-position: center;
    background-size: cover;
    height: 400px;
  }
  .back {
    margin: 20px auto 60px;
  }
  .encart {
    margin-bottom: 20px;

    .title,
    .subtitle,
    p,
    ul,
    .line {
      max-width: 920px;
      margin: 0 auto 10px;
      &.title {
        margin-top: 40px;
        margin-bottom: 20px;
      }
      &.subtitle {
        margin-top: 20px;
      }
    }
  }
}

.push-right {
  margin-left: auto;
}
