.label {
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.label-vignobles-et-decouvertes {
  height: 64px;
  width: 51px;
  background-image: url('/labels/vignobles-et-decouvertes.jpg');
  background-color: #1c7c4e;
}
.label-agriculture-biologique {
  height: 64px;
  width: 48px;
  background-image: url('/labels/agriculture-biologique.png');
  background-color: #fff;
}
.label-bienvenue-a-la-ferme {
  height: 65px;
  width: 56px;
  background-image: url('/labels/bienvenue-a-la-ferme.jpg');
  background-color: #50ac25;
}
.label-saveurs-du-perigord {
  background-image: url('/labels/saveurs-du-perigord.jpg');
  background-color: #50ac25;
  width: 52px;
  height: 47px;
}
