@include small-screen {
  .hidden-small-screen {
    display: none !important;
  }
}

@include medium-screen-and-up {
  .hidden-medium-screen-and-up {
    display: none !important;
  }
}

@include medium-screen-and-down {
  .hidden-medium-screen-and-down {
    display: none !important;
  }
}
