html * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  margin: 0;
  font-family: Sacramento, cursive;
  font-weight: normal;
  color: $white;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}

.page-height {
  height: 100vh;
}

.parent-height {
  height: 100%;
}

.line, .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &.col {
    flex-direction: column;
  }
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }
}

.color-line {
  height: 55px;
}

.grappe {
  height: 100px;
  width: 70px;
  background: url("/logos/grappe.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.el-table .inactive-row, .el-table .inactive-row:hover {
  color: $black-l3;
  background-color: $black-l7;
  font-style: italic;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.tip {
  padding: 8px 16px;
  background-color: $pink;
  border-radius: 4px;
  border-left: 5px solid $red-d1;
  margin: 20px 0;
}

@import "element-fixes"
