html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-primary;
  font-size: 15px;
  line-height: 1.7;
  @media (max-width: 450px) {
    font-size: 13px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  margin-top: 0;
  font-family: $font-secondary;
  font-weight: bold;
  color: $white;
}

h1 {
  font-size: 350%;
}

h2 {
  font-size: 250%;
}

p {
  text-align: justify;
}

@import 'element-fixes';
@import 'helpers';
@import 'responsive';
@import 'transitions';
@import 'fonts';
